{
    "singleQuote": false,
    "printWidth": 80,
    "editor.formatOnSave": true,
    "proseWrap": "always",
    "tabWidth": 4,
    "requireConfig": false,
    "useTabs": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "semi": true,
    "overrides": [
        {
            "files": "*.yaml",
            "options": {
                "tabWidth": 2,
                "singleQuote": true,
                "bracketSpacing": false
            }
        }
    ]
}