services:
  bot:
    image: github_action_replacement
    restart: unless-stopped
    env_file:
      - azta-telegram-bot.env
    depends_on:
      - redis

  redis:
    image: redis:alpine
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data

volumes:
  redis-data:
