name: Deploy Azta Telegram Bot to Aeza Server

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 # v3.0.0

      - name: Log in to Docker Hub
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@0565240e2d4ab88bba5387d719585280857ece09 # v5.0.0
        with:
          push: true
          tags:
            ${{ secrets.DOCKERHUB_USERNAME }}/azta-telegram-bot:${{ github.sha
            }}
          file: ./Dockerfile

  deploy:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'

    steps:
      - name: Deploy to aeza server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.SSH_HOST }}
          username: ${{ vars.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Pull the latest image
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/azta-telegram-bot:${{ github.sha }}
            
            # Clone the repository to get the docker-compose file
            git clone https://github.com/${{ github.repository }}.git azta-telegram-bot
            cd azta-telegram-bot
            
            # Update the image tag in the docker-compose file
            sed -i 's|image: .*|image: ${{ secrets.DOCKERHUB_USERNAME }}/azta-telegram-bot:${{ github.sha }}|' docker-compose.yml
            
            # Create or update environment file
            touch azta-telegram-bot.env
            echo "${{ vars.ENVS }}" > azta-telegram-bot.env
            echo "\n" >> azta-telegram-bot.env
            echo "${{ secrets.ENVS }}" >> azta-telegram-bot.env
            
            # Deploy using docker-compose
            docker-compose up -d --remove-orphans
